*{
    margin: 0;
    font-family: 'Rubik';
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.resume{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 76px 0;
    flex-direction: column;
    text-align: center;
    overflow-x: scroll;

    .displayPDF{
        margin-top: 20px;
        align-self: center;
    }

    .cvd{
        display: inline-block;
    }
}

::-webkit-scrollbar {
    width: 10px;
   
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#edf0ff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4460f290; 
      transition:0.2s;
    border-radius:5px
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4460f2; 
  }

@media only screen and (max-width: 700px) {

.resume{
    position: relative;

    padding: 0 0;
    flex-direction: column;
    text-align: center;


    .displayPDF{
        margin-top: 20px;
        margin-left: 60px;
    }
}
}

@media only screen and (max-width: 500px) {

    .resume{
    
        .displayPDF{
            margin-top: 20px;
            margin-left: 120px;
        }
    }
    }

    @media only screen and (max-width: 400px) {

        .resume{
        
            .displayPDF{
                margin-top: 20px;
                margin-left: 160px;
            }
        }
        }


        @media only screen and (max-width: 350px) {

            .resume{
            
                .displayPDF{
                    margin-top: 20px;
                    margin-left: 260px;
                }
            }
            }