*{
    margin: 0;
    font-family: 'Rubik';
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.resume{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 76px 0;
    flex-direction: column;
    text-align: center;
    overflow-x: scroll;

    .displayPDF{
        margin-top: 20px;
       
        align-self: center;
    }
}

@media only screen and (max-width: 700px) {

.resume{
    position: relative;

    padding: 0 0;
    flex-direction: column;
    text-align: center;


    .displayPDF{
        margin-top: 20px;
        margin-left: 60px;
    }
}
}