*{
    margin: 0;
    font-family: 'Rubik';
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.resume{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 76px 0;
    flex-direction: column;
    text-align: center;

    .displayPDF{
        margin-top: 20px;
        overflow-x: scroll;
        align-self: center;
    }
}