.aboutMe{
    margin-top: 50px;
    h1{
        text-align: center;
        color: #4560ed;
    }
    .profile-img-container{
        text-align: center;
        margin: 30px 0px;
       
        .profile-img{
            width: 250px;
            height: 250px;
            border-radius: 50%;
            box-shadow: 6px 6px 15px #cad3ff,-6px -6px 15px #cad3ff;
            transition: 0.5s;
            
            &:hover{
                box-shadow: 3px 3px 25px #b3bff8,-3px -3px 25px #b3bffa;
            }
        }
    }

    .about-Info{
        .brief-about{
            text-align: center;
            margin: 30px 0px;
            p{
                font-weight: 200;
                color:#2e2f34;
            }
        }

        table{
            margin: 0 auto;

            tr{
                margin: 30px 0;
                font-size: 1.4rem;
                font-weight: 300;
                .answer{
                    display: flex;
                    align-items: center;
                }

                .fields{
                    font-weight: 500;
                }
            }
        }
    }
}