.myButton{
    display: inline-block;
    margin-top:25px;

    .linkBtn{
        padding: 4px;
        color: black;
        // border: 0.5px solid #333333;
        margin-right: 10px;
        border-radius: 3px;
        box-shadow: 3px 3px 25px #c2cbfc,-3px -3px 25px #c9d2fc;
        transition: 0.2s;

        .link{
            margin-left: 5px;
            text-decoration: none;
        }

        &:hover{
            box-shadow: 3px 3px 25px #d5dbfc,-3px -3px 25px #c0cafd;
        }

    }

//     .yellow{
//         background-color: #ffeb3b70;
        
//         opacity: 0.6;
//         box-shadow: 3px 3px 25px #b3bff8,-3px -3px 25px #b3bffa;
//         transition: 0.2s;

//         &:hover{
//             box-shadow: 3px 3px 25px #b3bff8,-3px -3px 25px #b3bffa;
//             opacity: 1; 
//         }
//     }

    
//     .purple{
//             background-color: #ff3bb1;
//             opacity: 0.6; 
//             box-shadow: 3px 3px 25px #b3bff8,-3px -3px 25px #b3bffa;
//             transition: 0.2s;

//             &:hover{
//                 color: #333333;
//                 opacity: 1; 
//             }
//     }
//     .green{
//             background-color: #3bff89;
//             opacity: 0.6;
//             box-shadow: 3px 3px 25px #b3bff8,-3px -3px 25px #b3bffa;
//             transition: 0.2s;

//             &:hover{
//                 color: #333333;
//                 opacity: 1; 
//             }
//     }

//     .black{
//         background-color:#2e2f33;
//         color: white;
//         opacity: 0.6;
//         box-shadow: 3px 3px 25px #b3bff8,-3px -3px 25px #b3bffa;
//         transition: 0.2s;

//         &:hover{
//             color: white;
//             box-shadow: 3px 3px 25px #b3bff8,-3px -3px 25px #b3bffa;
//             opacity: 1; 
//         }
// }
}