.navbar {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.123);
    background-color: white;
  position: fixed;
  height: 76px;
  z-index: 10;
  width: 100%;
  display: flex;

  .header {
    display: flex;
    margin-left: 10px;
    .logo{
        align-self: center;
    }
    .nav-toggle {
      align-self: center;
      display: none;
    }
  }
  .navLinksMenu {
    margin-left: auto;
    align-self: center;

    .navlinks{
        margin-right: 10px;
        margin-left: 10px;
        cursor: pointer;
        transition: 0.2s;
        font-size: 1.2rem;
        font-weight: 300;
        text-decoration: none;
        color: #2e2f34;
        
        &:hover{
            color:#6c87fc ;
        }
    }

    .page-btn{
      color:#f41767 ;
      border: 1px solid #f41767;
      padding: 5px;
      border-radius: 4px;
      text-decoration: none;

      &:hover{
        
        color:white ;
        background-color: #f41767;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .navbar {
      position: fixed;
      flex-direction: column;
      overflow: hidden;
      height: 68px;

    .header {
      display: flex;
      margin-left: 5px;
      
    .logo{
        padding:0px 2px;
        border-radius: 10px;
        margin: 5px 5px;
        align-self: center;
    }

      .nav-toggle {
        font-size: 1.2rem;
        margin-right: 20px;  
        display: initial;
        margin-left: auto;
        align-self: center;

      
      }
    }

    .navLinksMenu {
        
        align-self: initial;
        margin-left: 0;
        align-self: center;
        height: 0px;
       
       

        .navlinks{
            text-align: center;
            padding: 10px 5px;
            margin-left: 0px;
            display:block;
            flex-direction: column;
            width: 100%;
            color: #101113;
            font-weight: 300;
            font-size: 1.4rem;
            align-self: center;
            transition: 0.2s;

            
        }

        .page-btn{
          margin: 20px 0px;
        }
      }
  }

  .active{           
    transition: 0.2s;
    height: 100vh;
    position: fixed;
}
}
