.hero{
    position: relative;
    height: 100vh;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23dee4fd' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-attachment: fixed;
    display: flex;


    .headlines{
        z-index: 5;
        position: absolute;
        width: 100%;
        top: 35%;
        text-align: center;
        height: min-content;
        align-self: center;
        margin: auto;
    
        .greetings{
            color: #4262f2;
            font-weight: 700;
            font-size: 2rem;
            margin-bottom: 40px;
            letter-spacing: 4px;
        }
    
        .headName{
            font-size: 4rem;
            font-weight: 900;
            margin: 20px;
            letter-spacing: 6px;
        }
    
        .tagLine{
            font-size: 1.5rem;
            font-weight: 300;
            color: #4262f2;
            margin-bottom: 40px;
            line-height: 45px;

            .highlight{
                color: white;
                background-color: #2d2f34;
                border-radius: 3px;
                padding: 0 4px 2px 4px;
            }
        }
    }
    
}






@media only screen and (max-width: 700px) {
    .hero{
        .headlines{
            top: 24%;
        }
    }
    
}