.mainSection{
    margin: 50px 5%;
    display: flex;

    
    .menuListContainer{

        background: white;
        border:1px solid black;
        width: 30%;

        .navSide{
            position: -webkit-sticky;
            position: sticky;
            top: 50px;

            .menuList{

                text-align: right;
                height: 230px;
                overflow: hidden;

                .sideMenu{
                    overflow: hidden;
                    height: 25px;
                }
    
                li{ 
                    margin-bottom: 10px;
                    list-style-type: none;
                    overflow: hidden;
    
    
                    a{
                        text-decoration: none;
                        color: #2d2f34;
                        font-weight: 600;
                        transition: 0.2s;
                        overflow: hidden;
    
                        
                    }
                    
                }
    
                .sideMenuActive{
                   
                    font-size: 1.2rem;
                    color: #4360f2;
                    
                }
        }

        
        }
    }

    .InfoContainer{
        margin-left: 5%;
        width: 65%;

        .mainSection-heading{
            color: #4360f2;
            font-size: 2rem;
            font-weight: 800;
            margin: 0px 10px;
        }
        .mainSection-subHeading{
            color:#2d2f34;
            font-weight: 300;
            margin: 0px 10px 5px 10px;
        }
    }
}

@media only screen and (max-width: 700px) {
    .mainSection{
        margin: 50px 0px;

        .menuListContainer{
            display: none
        }

        .InfoContainer{
            width: 100%;
            margin: 3%;

    }

    }
    
}