.mainSection{

    .InfoContainer{
        width: 70%;
        margin: 0 auto;

        .mainSection-heading{
   
            color: #4360f2;
            font-size: 2rem;
            font-weight: 800;
            margin: 0px 10px;
        }
        .mainSection-subHeading{
            margin: 20px 0;
            color:#2d2f34;
            font-weight: 300;
            margin: 20px 10px 20px 10px;
        }
    }
}

@media only screen and (max-width: 700px) {
    .mainSection{
        margin: 50px 0px;

        .InfoContainer{
            width: 90%;
            margin: 0 auto;

    }

    }
    
}